import { Provider } from '@angular/core';
// import { Observable, of } from 'rxjs';

import { {{upperCamelCaseName}}Service } from './{{dashCaseName}}.service';
// import { ExampleReturnType } from './example-return-type.model';
// import { MOCK_ExampleReturnType } from './example-return-type.model.mock';
// export const MOCK_ExampleReturnType: ExampleReturnType = {};

export const MOCK_{{upperCamelCaseName}}Service: {{upperCamelCaseName}}Service = {
  // method(): Observable<ExampleReturnType> {
  //  return of(MOCK_ExampleReturnType);
  // },
};

export const MOCK_{{upperCamelCaseName}}ServiceProvider: Provider = {
  provide: {{upperCamelCaseName}}Service,
  useValue: MOCK_{{upperCamelCaseName}}Service,
};
