import { {{upperCamelCaseName}}Directive } from './{{dashCaseName}}.directive';

describe('{{upperCamelCaseName}}Directive', () => {
  let directive: {{upperCamelCaseName}}Directive;

  beforeEach(() => {
    directive = new {{upperCamelCaseName}}Directive();
  });

  it('should create', () => {
    expect(directive).toBeTruthy();
  });
});
