import { {{upperCamelCaseName}}Module } from './{{dashCaseName}}.module';

describe('{{upperCamelCaseName}}Module', () => {
  const module: {{upperCamelCaseName}}Module = new {{upperCamelCaseName}}Module();

  it('should create', () => {
    expect(module).toBeTruthy();
  });
});
