import { {{upperCamelCaseName}}Directive } from './{{dashCaseName}}.directive';

describe('{{upperCamelCaseName}}Directive', () => {
  const directive: {{upperCamelCaseName}}Directive = new {{upperCamelCaseName}}Directive();

  it('should create', () => {
    expect(directive).toBeTruthy();
  });
});
