import { Component } from '@angular/core';

@Component({
  selector: '{{componentPrefix}}-{{dashCaseName}}',
  templateUrl: './{{dashCaseName}}.component.html',
})
export class {{upperCamelCaseName}}Component {}
