import { Directive } from '@angular/core';

@Directive({ selector: '[{{componentPrefix}}{{upperCamelCaseName}}]', standalone: true })
export class {{upperCamelCaseName}}Directive {
  constructor() { }
}
