import { myUtilFunction } from './{{dashCaseName}}.util';

describe('{{dashCaseName}}', () => {
  describe('myUtilFunction', () => {
    it('should test myUtilFunction', () => {
      expect(myUtilFunction).toBeDefined();
    });
  });
});
