.github/**
.vscode/**
.vscode-test/**
node_modules
out/test/**
screenshots
src/**
.editorconfig
.eslintrc
.gitignore
.npmrc
.yarnrc
.prettierignore
.prettierrc
package-lock.json
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.svg
FUNDING.yml
LICENCE
