import { CommonModule } from '@angular/common';
import { NgModule } from '@angular/core';

import { {{pascalName}}Component } from './{{inputName}}.component';

@NgModule({
  imports: [CommonModule],
  declarations: [{{pascalName}}Component],
  exports: [{{pascalName}}Component],
})
export class {{pascalName}}Module {}
