import { Routes } from '@angular/router';

// import { {{upperCamelCaseName}}Component } from './{{dashCaseName}}.component';

export const {{constantCaseName}}_ROUTES: Routes = [
  // { path: '{{dashCaseName}}', component: {{upperCamelCaseName}}Component },
];
