import { {{upperCamelCaseName}}Service } from './{{dashCaseName}}.service';

describe('{{upperCamelCaseName}}Service', () => {
  const service: {{upperCamelCaseName}}Service = new {{upperCamelCaseName}}Service();

  it('should create', () => {
    expect(service).toBeTruthy();
  });
});
