import { TestBed } from '@angular/core/testing';

import { {{pascalName}}Service } from './{{inputName}}.service';

describe('{{pascalName}}Service', () => {
  let service: {{pascalName}}Service;

  beforeEach(() => {
    TestBed.configureTestingModule({});
    service = TestBed.inject({{pascalName}}Service);
  });

  it('should create', () => {
    expect(service).toBeTruthy();
  });
});
