import { ComponentFixture, TestBed, waitForAsync } from '@angular/core/testing';

import { {{pascalName}}Component } from './{{inputName}}.component';
import { {{pascalName}}Module } from './{{inputName}}.module';

describe('{{pascalName}}Component', () => {
  let component: {{pascalName}}Component;
  let fixture: ComponentFixture<{{pascalName}}Component>;

  beforeEach(waitForAsync(() => {
    TestBed.configureTestingModule({
      imports: [{{pascalName}}Module],
    }).compileComponents();
  }));

  beforeEach(() => {
    fixture = TestBed.createComponent({{pascalName}}Component);
    component = fixture.componentInstance;
    fixture.detectChanges();
  });

  it('should create', () => {
    expect(component).toBeTruthy();
  });
});
