import { Meta, moduleMetadata, Story } from '@storybook/angular';

import { {{pascalName}}Component } from './{{inputName}}.component';
import { {{pascalName}}Module } from './{{inputName}}.module';

type ComponentWithCustomControls = {{pascalName}}Component;

const meta: Meta<ComponentWithCustomControls> = {
  // title: 'Components/{{readableName}}',
  component: {{pascalName}}Component,
  decorators: [
    moduleMetadata({
      imports: [{{pascalName}}Module],
    }),
  ],
  parameters: {
    docs: { description: { component: `{{pascalName}}` } },
  },
  argTypes: {},
  args: {},
};
export default meta;

const Template: Story<ComponentWithCustomControls> = (
  args: ComponentWithCustomControls
) => ({ props: args });

export const {{pascalName}} = Template.bind({});
{{pascalName}}.args = {};
