import { Meta, moduleMetadata, Story } from '@storybook/angular';

import { {{upperCamelCaseName}}Component } from './{{dashCaseName}}.component';
import { {{upperCamelCaseName}}Module } from './{{dashCaseName}}.module';

type ComponentWithCustomControls = {{upperCamelCaseName}}Component;

const meta: Meta<ComponentWithCustomControls> = {
  // title: 'Components/{{upperReadableName}}',
  component: {{upperCamelCaseName}}Component,
  decorators: [
    moduleMetadata({
      imports: [{{upperCamelCaseName}}Module],
    }),
  ],
  parameters: {
    docs: { description: { component: `{{upperCamelCaseName}}` } },
  },
  argTypes: {},
  args: {},
};
export default meta;

const Template: Story<ComponentWithCustomControls> = (
  args: ComponentWithCustomControls
) => ({ props: args });

export const {{upperCamelCaseName}} = Template.bind({});
{{upperCamelCaseName}}.args = {};
