import { TestBed } from '@angular/core/testing';

import { {{pascalName}}Module } from './{{inputName}}.module';

describe('{{pascalName}}Module', () => {
  beforeEach(() => {
    TestBed.configureTestingModule({
      imports: [{{pascalName}}Module],
    });
  });

  it('initializes', () => {
    const module: {{pascalName}}Module = TestBed.inject({{pascalName}}Module);
    expect(module).toBeTruthy();
  });
});
