import { CommonModule } from '@angular/common';
import { NgModule } from '@angular/core';

import { {{upperCamelCaseName}}Component } from './{{dashCaseName}}.component';

@NgModule({
  imports: [CommonModule],
  declarations: [{{upperCamelCaseName}}Component],
  exports: [{{upperCamelCaseName}}Component],
})
export class {{upperCamelCaseName}}Module {}
