import { CommonModule } from '@angular/common';
import { NgModule } from '@angular/core';

import { {{upperName}}Component } from './{{inputName}}.component';

@NgModule({
  imports: [CommonModule],
  declarations: [{{upperName}}Component],
  exports: [{{upperName}}Component],
})
export class {{upperName}}Module {}
