import { TestBed } from '@angular/core/testing';

import { {{upperCamelCaseName}}Service } from './{{dashCaseName}}.service';

describe('{{upperCamelCaseName}}Service', () => {
  let service: {{upperCamelCaseName}}Service;

  beforeEach(() => {
    TestBed.configureTestingModule({});
    service = TestBed.inject({{upperCamelCaseName}}Service);
  });

  it('should create', () => {
    expect(service).toBeTruthy();
  });
});
