import { TestBed } from '@angular/core/testing';

import { {{upperCamelCaseName}}Module } from './{{dashCaseName}}.module';

describe('{{upperCamelCaseName}}Module', () => {
  beforeEach(() => {
    TestBed.configureTestingModule({
      imports: [{{upperCamelCaseName}}Module],
    });
  });

  it('should create', () => {
    const module: {{upperCamelCaseName}}Module = TestBed.inject({{upperCamelCaseName}}Module);
    expect(module).toBeTruthy();
  });
});
