import { Component } from '@angular/core';
import { CommonModule } from '@angular/common';

@Component({
  selector: '{{componentPrefix}}-{{dashCaseName}}',
  templateUrl: './{{dashCaseName}}.component.html',
  standalone: true,
  imports: [CommonModule],
})
export class {{upperCamelCaseName}}Component {}
